/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*за базовую версию взята мобильная версия в темной теме*/


/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  color: var(--text-base-color, #fff);
  font-family: var(--font-base), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3; /* 23.4px 130% */
  background-color: var(--backgroung-color, #000);
  background-image: url(../images/cover-image.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 1024px;
}

.link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.link:hover {
  cursor: pointer;
}

/* для реализации подчеркивания ссылки при наведении без тени от стиля текста сделан пресвдоэлемент */
.link:hover::after {
  content: '';
  position: absolute;
  border: none;
  background-color: var(--text-base-color, #fff);
  inset-inline-start: 0;
  inset-block-end: 0;
  block-size: 1px;
  inline-size: 100%;
}

.link:focus-visible {
  outline: 1px solid var(--text-accent-color, #f00);
  outline-offset: 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  border: 1px solid var(--text-accent-color, #f00);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--padding-and-gap, 10px);
  right: var(--padding-and-gap, 10px);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
}

.decorated-zone::after {
  bottom: var(--padding-and-gap, 10px);
  left: var(--padding-and-gap, 10px);
  border-inline-end-color: transparent;
  border-block-start-color: transparent;
}

.decorated-zone__decoration {
  position: absolute;
  top: var(--padding-and-gap, 10px);
  right: var(--padding-and-gap, 10px);
  display: none;
  block-size: 25px;
  inline-size: 60px;
}

.decorated-zone__decoration::before {
  content: 'REC';
  position: absolute;
  left: 0;
  color: var(--accent-color, #f00);
  line-height: 1.389; /* 25px; 138.889% */
}

.decorated-zone__decoration::after {
  content: '';
  position: absolute;
  right: 9px;
  top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px var(--accent-color, #f00);
  background-color: var(--accent-color, #f00);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding-and-gap, 10px);
  min-block-size: max(var(--screen-block-size, 668px), 668px);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent; /*использовался border для реализации сосояния :focus-visible - подчеркивание по всей ширине кнопки, чтобы размеры не менялись - задан изначально прозрачный */
  color: var(--text-accent-color, #f00);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1; /* 100% 18px*/
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border-color: var(--text-accent-color, #f00);
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color-opacity, #f00);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--text-accent-color, #f00);
  outline: transparent;
}

.heading {
  color: var(--header-color, #DB00FF);
  font-weight: 700;
  font-size: var(--heading-font-size, 116px);
  font-style: normal;
  line-height: 0.825; /*82.5% */
  text-shadow: 4px 4px 0 var(--header-color-shadow, #FF0070);
}

.heading_in_header {
  position: relative;
  left: clamp(-20px, 375px * 20 / 393 - 100vw * 20 / 393, 0px); /*с ширины = 768px нет отступа по макету*/
}

.heading_in_footer {
  text-shadow: 2px 2px 0 var(--header-color-shadow, #FF0070); /* расположение тени другое */
}

.header__description {
  justify-self: end;
  inline-size: max(min(100%, 100vw * 9 / 393 - 375px * 9 / 393 + 355px), 50%);
}

.title-decor {
  color: var(--text-heading-color, #000028);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3; /*23.4px; 130% */
  background-color: var(--accent-color, #f00);
}

.title-decor_lower-level {
  font-weight: 400;
}

.title-great {
  color: var(--text-accent-color, #f00);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3; /* 23.4px; 130% */
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 100vw * 30 / 393 - 375px * 30 / 393 + 50px, 80px);
  padding-inline: var(--padding-and-gap, 10px);
  padding-block: clamp(40px, 100vw * 20 / 393 - 375px * 20 / 393 + 40px, 60px);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "content";
  gap: 20px;
}

.section_type_one-column-low-level{
  gap: var(--padding-and-gap, 10px);
}

.section__name {
  grid-area: header;
}

.section__content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  gap: 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pictures-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  gap: var(--padding-and-gap, 10px);
}

.pictures-list__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-and-gap, 10px);
  min-block-size: max(var(--screen-block-size, 668px), 668px);
}

@media (width >= 768px) {
  .section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header content";
  }

  .section_type_one-column-high-level {
    grid-template-rows: auto auto;
    grid-template-areas:
      "header ."
      "content content";
  }

  .section_type_one-column-low-level{
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header"
      "content content";
  }

  .pictures-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .pictures-list__item_direction_horizontal {
    grid-column: span 2;
  }

  .pictures-list__item_direction_vertical {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: calc((100% - 2 * 20px) / 3) 1fr; /*первая колонка = 1/3 от всей ширины - два гапа, аналогично размеру 1fr при расположении в три колонки */
  }

  .card-list_direction_horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
